bpel-process-example/src/main/resources/BusinessProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:ev="https://github.com/taras-chornyi/bpel-process"
	targetNamespace="https://github.com/taras-chornyi/bpel-process"
	elementFormDefault="qualified">

	<element name="businessProcess">
		<complexType>
			<sequence>
				<element name="id_process" type="string" />
				<element name="name" type="ev:name_identifier" />
				<element name="timestamp" type="long" />
				<element name="sourceAddress" type="ev:ipv4_ipv6" />
				<element name="info" type="string" minOccurs="0" />
				<element name="attributes" minOccurs="0">
					<complexType>
						<sequence>
							<element name="attribute" minOccurs="0" maxOccurs="unbounded">
								<complexType mixed="true">
									<sequence><any minOccurs="0" maxOccurs="unbounded"/></sequence>
									<attribute name="name" use="required" type="ev:name_identifier"/>
									<attribute name="value" use="optional" />
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

    <simpleType name="name_identifier">
        <restriction base="token">
            <pattern value="[a-zA-Z][a-zA-Z0-9_]+" />
        </restriction>
    </simpleType>

	<simpleType name="ipv4_ipv6">
		<annotation>
			<documentation>An IP version 4 or 6 address.</documentation>
		</annotation>
		<restriction base="token">
			<pattern
				value="(((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\.){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]))|(\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*)">
			</pattern>
		</restriction>
	</simpleType>
</schema>
